*
!*/
!/.gitignore
!/modpack.json
!/README.md

!/config/*
!/config/AppliedEnegistics2/*
!/config/biomesoplenty/*
!/config/biomesoplenty/structures/*
!/config/buildcraft/*
!/config/opencomputers/*

!/config/cofh/*
!/config/cofh/core/*
!/config/cofh/redstonearsenal/*
!/config/cofh/thermaldynamics/*
!/config/cofh/thermalexpansion/*
!/config/cofh/thermalexpansion/crafting/*
!/config/cofh/thermalfoundation/*
!/config/cofh/world/*

/config/splash.properties
